In [5]:
import pandas as pd

# Load your dataset
df = pd.read_csv('FaultFree_Training.csv')  # Replace with your actual file

# Show detailed info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 55 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   faultNumber    250000 non-null  float64
 1   simulationRun  250000 non-null  float64
 2   sample         250000 non-null  int64
 3   xmeas_1        250000 non-null  float64
 4   xmeas_2        250000 non-null  float64
 5   xmeas_3        250000 non-null  float64
 6   xmeas_4        250000 non-null  float64
 7   xmeas_5        250000 non-null  float64
 8   xmeas_6        250000 non-null  float64
 9   xmeas_7        250000 non-null  float64
 10  xmeas_8        250000 non-null  float64
 11  xmeas_9        250000 non-null  float64
 12  xmeas_10       250000 non-null  float64
 13  xmeas_11       250000 non-null  float64
 14  xmeas_12       250000 non-null  float64
 15  xmeas_13       250000 non-null  float64
 16  xmeas_14       250000 non-null  float64
 17  xmeas_15       250000 non-null  float64
 18  xmeas_16       250000 non-null  float64
 19  xmeas_17       250000 non-null  float64
 20  xmeas_18       250000 non-null  float64
 21  xmeas_19       250000 non-null  float64
 22  xmeas_20       250000 non-null  float64
 23  xmeas_21       250000 non-null  float64
 24  xmeas_22       250000 non-null  float64
 25  xmeas_23       250000 non-null  float64
 26  xmeas_24       250000 non-null  float64
 27  xmeas_25       250000 non-null  float64
 28  xmeas_26       250000 non-null  float64
 29  xmeas_27       250000 non-null  float64
 30  xmeas_28       250000 non-null  float64
 31  xmeas_29       250000 non-null  float64
 32  xmeas_30       250000 non-null  float64
 33  xmeas_31       250000 non-null  float64
 34  xmeas_32       250000 non-null  float64
 35  xmeas_33       250000 non-null  float64
 36  xmeas_34       250000 non-null  float64
 37  xmeas_35       250000 non-null  float64
 38  xmeas_36       250000 non-null  float64
 39  xmeas_37       250000 non-null  float64
 40  xmeas_38       250000 non-null  float64
 41  xmeas_39       250000 non-null  float64
 42  xmeas_40       250000 non-null  float64
 43  xmeas_41       250000 non-null  float64
 44  xmv_1          250000 non-null  float64
 45  xmv_2          250000 non-null  float64
 46  xmv_3          250000 non-null  float64
 47  xmv_4          250000 non-null  float64
 48  xmv_5          250000 non-null  float64
 49  xmv_6          250000 non-null  float64
 50  xmv_7          250000 non-null  float64
 51  xmv_8          250000 non-null  float64
 52  xmv_9          250000 non-null  float64
 53  xmv_10         250000 non-null  float64
 54  xmv_11         250000 non-null  float64
dtypes: float64(54), int64(1)
memory usage: 104.9 MB

In [7]:
df.describe()          # Summary of numeric columns
df.describe(include='all')  # Summary of all columns including object (categorical)

,faultNumber,simulationRun,sample,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,...,xmv_2,xmv_3,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11
count,250000.0,250000.000000,250000.000000,250000.000000,250000.000000,250000.00000,250000.000000,250000.000000,250000.000000,250000.000000,...,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,0.0,250.500000,250.500000,0.250482,3663.785706,4508.81979,9.347101,26.902196,42.337598,2705.037865,...,53.973668,24.639472,61.298501,22.216644,40.055456,38.098898,46.534295,47.958591,41.104304,18.118706
std,0.0,144.337567,144.337567,0.030873,34.006357,39.21542,0.085721,0.211485,0.218513,7.525596,...,0.469663,3.037743,1.243805,0.530156,1.526751,2.965266,2.351304,2.716520,0.540817,1.463678
min,0.0,1.000000,1.000000,0.122450,3511.800000,4336.90000,8.972700,25.951000,41.394000,2672.300000,...,52.095000,11.977000,55.961000,19.749000,33.389000,25.959000,36.937000,36.641000,38.586000,11.705000
25%,0.0,125.750000,125.750000,0.229770,3640.800000,4482.40000,9.289300,26.758000,42.188000,2700.100000,...,53.657000,22.602000,60.453000,21.864000,39.021000,36.081000,44.931000,46.265000,40.740000,17.130000
50%,0.0,250.500000,250.500000,0.250510,3663.700000,4508.80000,9.347100,26.902000,42.338000,2705.000000,...,53.974000,24.644000,61.298000,22.217000,40.058000,38.091000,46.530000,47.820000,41.104000,18.119000
75%,0.0,375.250000,375.250000,0.271200,3686.800000,4535.30000,9.405100,27.046000,42.487000,2710.000000,...,54.290000,26.674000,62.144000,22.568000,41.084000,40.117000,48.140000,49.651000,41.470000,19.111000
max,0.0,500.000000,500.000000,0.391740,3808.400000,4683.70000,9.729800,27.818000,43.257000,2739.100000,...,56.118000,38.351000,66.443000,24.525000,47.498000,50.729000,56.443000,59.616000,43.930000,24.762000

In [9]:
import pandas as pd

df = pd.read_csv('FaultFree_Training.csv')  # Replace with your actual filename
df  # This automatically renders a scrollable, formatted table

,faultNumber,simulationRun,sample,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,...,xmv_2,xmv_3,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11
0,0.0,1.0,1,0.25038,3674.0,4529.0,9.2320,26.889,42.402,2704.3,...,53.744,24.657,62.544,22.137,39.935,42.323,47.757,47.510,41.258,18.447
1,0.0,1.0,2,0.25109,3659.4,4556.6,9.4264,26.721,42.576,2705.0,...,53.414,24.588,59.259,22.084,40.176,38.554,43.692,47.427,41.359,17.194
2,0.0,1.0,3,0.25038,3660.3,4477.8,9.4426,26.875,42.070,2706.2,...,54.357,24.666,61.275,22.380,40.244,38.990,46.699,47.468,41.199,20.530
3,0.0,1.0,4,0.24977,3661.3,4512.1,9.4776,26.758,42.063,2707.2,...,53.946,24.725,59.856,22.277,40.257,38.072,47.541,47.658,41.643,18.089
4,0.0,1.0,5,0.29405,3679.0,4497.0,9.3381,26.889,42.650,2705.1,...,53.658,28.797,60.717,21.947,39.144,41.955,47.645,47.346,41.507,18.461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,0.0,500.0,496,0.29325,3640.1,4473.0,9.1949,26.867,42.379,2700.2,...,53.429,29.249,60.773,21.532,40.451,34.064,48.953,48.291,40.812,18.756
249996,0.0,500.0,497,0.29134,3625.7,4506.2,9.2109,26.889,42.291,2700.6,...,53.830,28.975,61.517,21.750,42.762,42.645,51.055,48.589,40.933,19.360
249997,0.0,500.0,498,0.29438,3600.2,4478.3,9.1957,26.820,42.448,2700.3,...,54.163,28.676,61.656,21.487,42.109,39.770,46.770,48.648,41.465,19.344
249998,0.0,500.0,499,0.25269,3683.5,4486.4,9.2832,27.188,42.757,2697.4,...,53.453,24.889,61.564,21.392,39.334,42.274,43.623,48.797,39.835,18.512
249999,0.0,500.0,500,0.25214,3648.2,4467.8,9.1344,26.886,42.534,2695.1,...,53.676,24.943,61.254,21.208,38.991,42.873,44.400,48.876,41.076,16.158

In [1]:
import pandas as pd

df = pd.read_csv('Faulty_Training.csv')  # Replace with your actual filename
df  # This automatically renders a scrollable, formatted table

,faultNumber,simulationRun,sample,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,...,xmv_2,xmv_3,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11
0,1,1,1,0.25038,3674.0,4529.0,9.2320,26.889,42.402,2704.3,...,53.744,24.657,62.544,22.137,39.935,42.323,47.757,47.510,41.258,18.447
1,1,1,2,0.25109,3659.4,4556.6,9.4264,26.721,42.576,2705.0,...,53.414,24.588,59.259,22.084,40.176,38.554,43.692,47.427,41.359,17.194
2,1,1,3,0.25038,3660.3,4477.8,9.4426,26.875,42.070,2706.2,...,54.357,24.666,61.275,22.380,40.244,38.990,46.699,47.468,41.199,20.530
3,1,1,4,0.24977,3661.3,4512.1,9.4776,26.758,42.063,2707.2,...,53.946,24.725,59.856,22.277,40.257,38.072,47.541,47.658,41.643,18.089
4,1,1,5,0.29405,3679.0,4497.0,9.3381,26.889,42.650,2705.1,...,53.658,28.797,60.717,21.947,39.144,41.955,47.645,47.346,41.507,18.461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260245,1,27,246,0.75375,3706.6,4550.8,8.5514,26.847,42.622,2696.9,...,54.534,73.985,58.173,21.295,35.466,44.130,48.646,55.536,41.338,17.975
260246,1,27,247,0.79093,3635.1,4514.2,8.5369,27.416,42.058,2696.8,...,53.566,77.901,58.910,21.699,33.980,43.589,45.486,54.939,40.951,18.539
260247,1,27,248,0.79049,3611.4,4509.8,8.6286,27.157,42.081,2695.2,...,53.619,77.944,54.867,21.477,34.474,35.834,49.079,54.278,39.654,16.285
260248,1,27,249,0.78975,3637.2,4533.4,8.6047,26.658,42.252,2693.3,...,53.714,77.603,55.755,21.290,37.448,38.995,44.411,53.713,40.523,19.176
260249,1,27,250,0.79171,3666.7,4510.6,8.6180,27.444,42.140,2692.0,...,53.986,77.411,58.555,21.296,37.249,38.342,44.226,53.379,39.783,18.812